# ---------------- Python ----------------
__pycache__/
*.pyc
*.pyo
venv/
.env
*.egg-info/
dist/
build/

# ---------------- Node ----------------
node_modules/
.next/
dist/
.plasmo/

# ---------------- Database ----------------
*.db
*.sqlite

# ---------------- ML Models ----------------
*.pkl
*.joblib
*.h5

# ---------------- OS Files ----------------
.DS_Store
Thumbs.db

# ---------------- IDE ----------------
.vscode/settings.json
.idea/

# ---------------- Logs ----------------
*.log
logs/